<div>
    <h1>We regret to inform you that your account has been deleted by Admin.</h1>
    <p>
        We regret to inform you that your account {{email}} has been deleted, if you want to recover your account please contact admin!
    </p>
</div>