<h1>
  Welcome Back to Vita Admin Panel
</h1>
<p>
  Here's your one time password:
  {{otp}}. Please do not share this with anyone. This is otp valid for 1 hour
  and will expire after 1 hour.
</p>
<p>
  If you did not request this, please reset password immediately. Your account
  might be at risk.
</p>