<style>
  h1 { color: red; }
</style>

<h1>Welcome to Vita!</h1>
<p>We are glad that you are here and you are now only one step away to become a
  part of this beautiful community. Just click on the given link below to verify
  your email</p>
<a href='{{url}}'>{{url}}</a>