<h1>Vita</h1>
<p>We have recieved a request to reset your password. Please click on the below
  link to reset your password.</p>
<a href='{{url}}'>Reset Password</a>

<p>If you did not requested to reset your password your account might be at
  risk.</p>