<div>
  <h1>
    {{#if top_mentor}}
      Congratulations! You have been selected to be a top mentor on Vita.
    {{else}}
      Sorry! We are demoting you back to a normal mentor from top mentor.
    {{/if}}
  </h1>
  <p>
    {{#if top_mentor}}
      Now you will be featured on our Landing page 💪💪 and it will help you to
      connect with more mentees!
    {{else}}
      Sorry but due to your performance review we have decided to demote you
      back to a normal mentor 👀. Now you will not be featured on our Landing
      page. But don't worry you again can be a top mentor if your next
      performance review is good 😉.
    {{/if}}
  </p>
</div>